.burger {
	display: none;
	background-color: transparent;
}

.line1, .line2, .line3 {
	width: 30px;
	height: 4px;
	border-radius: 10px;
	background-color: var(--red);
	transition: all .3s ease;
}

.line2 {
	margin: 7px 0;
}

@media all and (max-width: 1280px) {
	#mentions_legales, #cgu, #cgv, #confidentialite{
		margin: 0px;
	}
	.categories-formations {
		flex-flow: column;
	}

	.formations-card-home {
		width: 350px;
		margin-bottom: 40px;
	}

	.card-img-container {
		width: 100%;
		border-radius: 50px;
		height: 320px;
	}
}

@media all and (max-width: 1180px) {
	.burger {
		display: block;
		cursor: pointer;
		position: relative;
		z-index: 120;
		transition: all .3s ease;
	}

	.nav {
		position: relative;
	}

	.navlinks {
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		transform: translateX(100%);
		height: 100vh;
		width: 60vw;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-flow: column;
		background-color: white;
		transition: all .4s ease;
		padding-right: 30px;
	}

	.navlist {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-flow: column;
	}

	.navlist li {
		margin: 30px 0;
		font-size: 1.1em;
		text-align: right;
	}

	.present{
		transform: translateX(0%);
		-webkit-box-shadow: -7px 0px 19px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: -7px 0px 19px -9px rgba(0,0,0,0.75);
		box-shadow: -7px 0px 19px -9px rgba(0,0,0,0.75);       
	}

	.toggle {
		position: fixed;
		right: 8%;
	}

	.toggle .line1 {
		transform: rotate(-45deg) translate(-10px,10px);
	}

	.toggle .line2 {
		opacity: 0;
	}

	.toggle .line3 {
		transform: rotate(45deg) translate(-5px,-6px);
	}

	.logo {
		width: 50%;
	}

	.info-a a:nth-child(2), .info-b a:nth-child(2) {
		display: none;
	}

	.info-b {
		margin-left: 10px;
	}

	.header-main {
		display: flex;
		justify-content: space-between;
		align-self: center;
	}

	.header-info {
		order: 2;
		width: auto;
	}

	.info-a a span {
		display: none;
	}

	.info-a a img {
		width: 24px;
	}

	.right-icons {
		order: 1;
	}

	.foot-cols {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: column;
		padding: 10px 0;
		color: white;
	}

	.ft-col {
		margin: 10px 0;
		width: 100%;
	}

	.ft-col form {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-flow: row wrap;
	}
	
	.ft-col form input {
		width: 70%;
		border: none;
		border-radius: 50px;
		text-align: center;
		padding: 10px;
		margin-bottom: 0;
		font-size: 1em;
		margin-right: 20px;
	}
	
	
	.ft-col form button {
		width: 25%;
		background-color: #e8491c;
		color: white;
		padding: 10px;
		border-radius: 50px;
		border: none;
		font-size: 1em;
		font-weight: 200;
		cursor: pointer;
	}

	.foot-footer {
		width: 100%;
		border-top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
	}
	
	.footer-links {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: column;
	}

	.footer-links a {
		margin: 10px 0;
		font-size: .9em;
	}

	.mobile-carousel {
		display: block;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		padding-top: 30px;
	}

	.mobile-carousel-container {
		width: 90%;
		display: flex;
		justify-content: center;
		align-content: center;
	}

	.mobile-card-wrapper .slider-card1 {
		background: url('../img/people/aerial-view-hands-working-computer-white-table-office.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.mobile-card-wrapper .slider-card2 {
		background: url('../img/people/christina-wocintechchat-com-4PU-OC8sW98-unsplash.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.mobile-card-wrapper .slider-card3 {
		background: url('../img/people/christina-wocintechchat-com-eF7HN40WbAQ-unsplash.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.mobile-card-wrapper > img:nth-child(1) {
		position: absolute;
		z-index: 2;
		bottom: -30px;
		left: -20px;
		width: 80px;
		transform: rotate(150deg);
	}

	.mobile-card-wrapper > img:nth-child(2) {
		position: absolute;
		z-index: 2;
		top: -80px;
		right: -20px;
		width: 80px;
		transform: rotate(-30deg);
	}

	.slider-card {
		width: 240px;
		height: 210px;
		margin: 0;
		position: relative;
		z-index: 3;
		background-color: red;
		border-radius: 40px;
		-webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
		-moz-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
		box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
	}
	
	.home-carousel {
		display: none;
	}

	.finance-heading {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 120px;
		position: relative;
		flex-flow: column;
	}

	.finance-heading .about-title {
		position: static;
		margin-bottom: 20px;
	}

	.finance-heading > img {
		width: 60%;
		margin: 0 auto;
	}

	#demandeur .finance-heading > img {
		margin-left: 0;
		margin: 0 auto;
	}

	.about-title h1 {
		font-family: 'bc-alphapipe',sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.7em;
		margin-left: 20px;
	}

	.last-carousel-container .about-title h1 {
		font-size: 1.5em;
	}

	.about-title img {
		width: 20px;
	}

	.admin-btns {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
		margin-top: 30px;
	}

	.admin-btns a {
		width: 100%;
	}

	.admin-btns button {
		width: 100%;
		background-color: var(--red);
		color: white;
		padding: 5px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.1em;
		font-weight: 200;
		cursor: pointer;
		margin: 10px 0;
	}

	.admin-form-container form {
		width: 100%;
	}

	.admin-form-container h2 {
		margin-bottom: 30px;
	}

	.admin-container table td:nth-child(4), .admin-container table td:nth-child(5) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
	}
}

@media all and (max-width: 900px) {
	.home-btns, .home2-btns {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
		width: 100%;
	}
	
	.home-btns a {
		width: 100%;
	}

	.home2-btns a {
		width: 100%;
	}
	
	.home-btns button {
		width: 100%;
		background-color: var(--blue);
		color: white;
		padding: 15px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.1em;
		font-weight: 300;
		cursor: pointer;
	}

	.home2-btns button {
		width: 100%;
		background-color: var(--blue);
		color: white;
		padding: 15px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.1em;
		font-weight: 300;
		cursor: pointer;
	}

	.smaller-text button {
		font-size: .95em;
		padding: 20px 5px;
	}

	#home-ctas {
		margin-top: 50px;
	}

	.video-container video {
		width: 100%;
		border-radius: 30px;
		-webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
	}

	.home-bg::after {
		content: '';
		display: none;
	}

	.home-bg-v2::after {
		content: '';
		display: none;
	}
	
	.home-bg-v2::before {
		content: url('../icons/ROND\ ORANGE.svg');
		position: absolute;
		width: 80px;
		margin-left: auto;
		margin-right: auto;
		left: 40px;
		right: 0;
		bottom: -70px;
		transform: rotate(90deg);
		text-align: center;
		z-index: 5;
	}

	.home-bg::before {
		content: url('../icons/ROND\ ORANGE.svg');
		position: absolute;
		width: 80px;
		margin-left: auto;
		margin-right: auto;
		left: 40px;
		right: 0;
		bottom: -70px;
		transform: rotate(90deg);
		text-align: center;
		z-index: 5;
	}

	.home-carousel {
		padding: 20px 0;
	}

	.home-first-carousel > h1 {
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	.home-first-carousel {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.home-carousel > h1 {
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	.slider {
		flex-flow: column;
		padding: 0;
		text-align: center;
	}

	.slider-img {
		order: 1;
	}

	.slider-card {
		margin: 0;
	}

	.slider-text {
		order: 2;
		width: 97%;
	}

	.slider-text h2 {
		font-size: 1.3em;
		margin-bottom: 20px;
		font-weight: 600;
	}

	.slider-text p {
		font-size: .9em;
	}

	.home-carousel-left-arrow img, .home-carousel-right-arrow img {
		width: 30px;
		cursor: pointer;
	}

	.cta-btn-carousel button {
		width: 300px;
		background-color: #e8491c;
		color: white;
		padding: 15px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.3em;
		font-weight: 200;
		cursor: pointer;
	}

	.cta-btn-home button {
		width: 100%;
		background-color: #e8491c;
		color: white;
		padding: 15px 25px;
		border-radius: 50px;
		border: none;
		font-size: 1.3em;
		font-weight: 200;
		cursor: pointer;
	}

	.categories-formations {
		flex-flow: column;
		padding: 0;
		margin: 80px 0;
	}

	.formation-card-wrapper {
		margin-bottom: 40px;
	}

	.formations-card-home {
		width: 280px;
		height: 250px;
		border-radius: 40px;
	}

	.formation-card-wrapper:nth-child(1) > img{
		width: 80px;
		position: absolute;
		top: -40px;
		left: -30px;
		transform: rotate(230deg);
		z-index: 1;
	}
	
	.formation-card-wrapper:nth-child(2) > img{
		width: 80px;
		position: absolute;
		bottom: 70px;
		right: -30px;
		transform: rotate(60deg);
		z-index: 1;
	}

	.inter-section  {
		width: 100%;
	}

	.inter-section h4 {
		font-weight: 300;
		font-size: 1.3em;
	}

	.inter-section button {
		width: 100%;
		font-size: 1.2em;
	}

	.card-btns {
		width: 100%;
		flex-flow: column;
		margin-top: 20px;
	}

	.card-btns form {
		width: 100%;
	}

	.card-btns form button {
		width: 100%;
		font-size: 1.1em;
		margin: 10px auto;
	}

	.card-wrapper {
		padding: 30px;
		font-size: 1em;
	}

	.formations-footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
		margin: 50px 0;
		padding-left: 0;
	}

	.f-footer-text {
		margin-top: 30px;
		width: 90%;
		order: 2;
	}

	.formations-footer > img {
		order: 1;
		width: 80%;
		align-self: flex-end;
	}

	.f-footer-text-header h1 {
		font-family: 'bc-alphapipe',sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.7em;
	}

	.f-footer-text p {
		font-size: 1.2em;
		padding-left: 0;
		text-align: center;
	}

	.f-footer-text a {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 80%;
	}

	.f-footer-text button {
		width: 100%;
		background-color: #e8491c;
		color: white;
		padding: 15px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.5em;
		font-weight: 200;
		cursor: pointer;
		margin: 30px auto;
	}

	.formation-card-container > img {
		width: 100%;
		margin: 50px auto;
	}

	.prestation-left-arrow img, .prestation-right-arrow img {
		width: 30px;
		cursor: pointer;
	}

	.prestation-card-text {
		width: 100%;
		padding: 30px;
		font-size: 1em;
		margin: 30px 0;
	}

	.prestation-top-btns {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		margin: 20px auto;
	}

	.prestation-top-btns form button, .prestation-top-btns button {
		width: 300px;
		background-color: #e8491c;
		color: white;
		padding: 10px 10px;
		border-radius: 50px;
		border: none;
		font-size: 1.2em;
		font-weight: 200;
		cursor: pointer;
		margin: 10px auto;
	}

	.prestation-bottom-container > img {
		width: 70%;
		margin: 40px 0;
		align-self: center;
		justify-self: center;
	}

	.prestation-bottom-container > a button {
		width: 300px;
		background-color: #e8491c;
		color: white;
		padding: 10px 10px;
		border-radius: 50px;
		border: none;
		font-size: 1.2em;
		font-weight: 200;
		cursor: pointer;
	}

	.prestation-bottom-container > p {
		font-size: 1.3em;
	}

	.prestations-container > img {
		width: 70%;
		margin: 20px auto;
	}

	.finance-carousel-left-arrow img, .finance-carousel-right-arrow img {
		width: 35px;
		cursor: pointer;
	}

	.finance-carousel-content {
		padding: 30px;
		font-size: 1em;
		font-weight: 300;
		border-radius: 50px;
	}

	.contact-container form {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		margin-top: 40px;
	}

	.contact-text {
		width: 100%;
		text-align: center;
	}

	.contact-row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
	}

	.contact-group {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: column;
		margin: 10px 0;
	}

	.contact-container form .textarea textarea {
		margin: 30px auto;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		min-height: 500px;
		max-height: 800px;
		padding: 40px;
		border: none;
		border-radius: 50px;
		font-size: 1.2em;
		outline: none;
		position: relative;
		z-index: 5;
		-webkit-box-shadow: 0px 0px 23px -12px rgb(0 0 0 / 75%);
		-moz-box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 23px -12px rgb(0 0 0 / 75%);
	}

	.contact-container form .textarea > img:nth-child(1) {
		position: absolute;
		z-index: 3;
		right: -10px;
		top: -40px;
		width: 90px;
		transform: rotate(-45deg);
	}

	.contact-container form .textarea > img:nth-child(2) {
		position: absolute;
		z-index: 3;
		left: -10px;
		bottom: -40px;
		width: 90px;
		transform: rotate(130deg);
	}

	.contact-container > img {
		width: 80%;
		margin-bottom: 50px;
	}

	.contact-banner {
		background-image: url(../img/people/arno-smit-lndaG6uN1yw-unsplash.jpg);
		width: 100vw;
		height: 250px;
		margin-bottom: 50px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-self: center;
	}

	.dropdown-el:nth-child(2) {
		display: inline-block;
	}

	.dropdown-el {
		min-width: 50%;
		margin: 0 20px;
	}

	.forum-top {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 50px auto;
	}

	.forum-filters-container {
		display: none;
	}

	.forum-messages-container {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column;
	}

	.forum-user-message {
		width: 70%;
		position: relative;
		padding: 15px 40px;
		border-radius: 50px;
		-webkit-box-shadow: 0px 0px 28px -15px rgb(0 0 0 / 75%);
		-moz-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 28px -15px rgb(0 0 0 / 75%);
	}

	.forum-user-message p {
		font-weight: 200;
		font-size: 1em;
	}

	.forum-bottom {
		margin-top: 50px;
		width: 100%;
	}

	.forum-bottom button {
		width: 300px;
		background-color: #e8491c;
		color: white;
		padding: 15px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.2em;
		font-weight: 200;
		cursor: pointer;
	}

	.login-container form {
		width: 100%;
		background-color: transparent;
	}

	.login-bottom button {
		width: 100%;
		background-color: #e8491c;
		color: white;
		padding: 15px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.2em;
		font-weight: 200;
		cursor: pointer;
		margin: 10px 0;
	}

	.signup-row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
	}

	.signup-container form {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
	}
	
	.signup-group {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: column;
	}

	.signup-container form > button {
		width: 100%;
		background-color: #e8491c;
		color: white;
		padding: 15px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.2em;
		font-weight: 200;
		cursor: pointer;
		margin: 30px 0;
	}

	#user-body {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 100px auto;
		margin-bottom: 100px;
	}

	.user-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
	}

	.user-profile {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		position: relative;
		height: 750px;
	}

	.user-messages {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.message-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;
		width: 100%;
		height: 550px;
	}

	.reception h4 {
		font-weight: 300;
		font-size: 1.3em;
		margin-bottom: 50px;
	}

	.user-details button {
		width: 100%;
		background-color: var(--red);
		color: white;
		padding: 5px;
		border-radius: 50px;
		border: none;
		font-size: 1.3em;
		font-weight: 200;
		cursor: pointer;
	}

	.mes-formations-card {
		background-color: white;
		width: 100%;
		height: 150px;
		border-radius: 70px;
		text-align: left;
		padding: 20px;
		padding-left: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 10px auto;
	}

	.mes-formations-card-text h3 {
		font-weight: 300;
		font-size: 1.2em;
	}

	.mes-formations-card-picto {
		width: 100px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.mes-formations-card-text p {
		font-size: 1em;
		font-weight: 300;
		margin-top: 10px;
	}

	.mes-formations-card-picto img {
		width: 100%;
	}

	.success-bottom button {
		width: 300px;
		background-color: #e8491c;
		color: white;
		padding: 15px 15px;
		border-radius: 50px;
		border: none;
		font-size: 1.2em;
		font-weight: 200;
		cursor: pointer;
		margin-top: 20px;
	}
}